html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
}

body{
    font-family: 'Raleway';
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}


header{
width: auto;
}


.logo img{
    width: 110px;
    margin-top: 6px; 
    margin-left: 20px; 
}

.sign-in {
       font-size: 18px;
       font-weight: bold;
       color: #0065FC;
       float: right;
       margin-right: 20px;  
       margin-top: 25px; 
       
   }
   
.navigation__items {
       line-height: 60px;   
       margin-top: 10px;
       display: flex; 
       justify-content: space-between;   
   }

   
.navigation__items li{
      font-size: 18px;
      border-bottom: #dddddd solid 3px;
      width: 100%;
      text-align: center;
   }
.navigation__items a{
       color: #0065FC;
   }
   
.navigation__items li:hover{
      border-bottom:#0065FC solid 3px;
   }
      

   /*search__section*/

.search{
    margin-top: 30px;
    margin-left: 20px; 
    margin-right: 20px; 
}

.search h1 {
    margin-bottom: 15px;
}

.search p {
    margin-bottom: 10px;
}

.search__form{
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
    width: 100%;
    height: 60px;
    position: relative;
    border-radius: 23px;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
  }
.search__form #map{
   left: 0;
   top: 0;
   position: absolute;
   font-size: 25px;
   background-color: #f2f2f2;
   width: 60px;
   height: 60px;
   text-align: center;
   line-height: 60px;
   border-top-left-radius: 20px;
   border-bottom-left-radius:20px;
    
}
.search__form--button{
    right: 0;
    top: 0;
    position: absolute;
    color: white;
    background-color: #0065FC;
    border: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    border-radius: 20px;
}

.search__form--input{
    width: 100%;
    margin-left: 70px;
    margin-right: 70px;
    background-color: rgb(255, 255, 255);  
    border: none;
}
.show__desktop{
    display: none;
}

.filter h2{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 22px;
}


/*btn__filter*/
.btn{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


.btn__item{
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 30px;
    padding-right: 15px;
    margin-right: 20px;
    border: #dbdbdb solid 2px;
    display: flex;
    flex-wrap: nowrap;
    transition: all 0.3s;
   
}
.btn__item:hover{
    background-color: rgb(235, 235, 235);
    transition: all 0.3s;

}

.btn__item i{
 background-color: rgb(206, 220, 240);
 font-size: 20px;
 color:#0065FC;
 height: 50px;
 width: 50px;
 text-align: center;
 line-height: 50px;
 border-radius: 30px;
}

.btn__filter .btn__name{
    margin-top: 15px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 17px; 
    width: fit-content;
}

/*message info*/
.fa-info{
    border: #dddddd solid 1.5px;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 20px;
    color: #0065FC;
     margin-right: 10px;  
}
.info{
    font-size: 15px;
}



@media screen and (min-width:481px) and (max-width:750px){

    .search__form{
        width: 400px;
    }
    .hide__desktop{
        display: none;
    }

    .show__desktop{
        display: unset;
    }
    .search__form--button{
        width: 120px;
        border-radius: 0px 20px 20px 0px;
        font-size: 20px;
    }

    .filter{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

 
    .btn__item{
        margin-right: 8px;
    }
   
    .filter h2{
        margin-top: 12px;
        margin-right: 20px;
        font-size: 25px;
    }
    .btn__filter .btn__name{
        margin-top: 10px;
        margin-left: 10px;
        font-weight: bold;
        font-size: 20px; 
        width: fit-content;
        padding-right: 10px;
    }
    
    
}


@media screen and (min-width:751px){
    header{
        display: flex;
        justify-content: space-between;
    }

    nav{
        margin-right: 100px;    
        display: flex;
        flex-wrap: nowrap;
    }
    .navigation__items {
        line-height: 83px;
        margin-top: 0;
    }

    .navigation__items li{
        text-align: center;   
        padding-left:50px;    
        padding-right:50px;   
        border: none; 
    }


    .navigation__items li:hover{
        border-top: #0065FC solid 2px;
        border-bottom: none;   
    }

    .sign-in{
       right: 0px;
       top: 0;
       position: absolute;
       margin-top: 30px;
    }

    .search__form{
        width: 400px;
    }

    .search h1{
        font-size: 28px;
    }

    .search p:not(.info){
        font-size: 22px;
    }

    .hide__desktop{
        display: none;
    }

    .show__desktop{
        display: unset;
    }

    .search__form--button{
        width: 120px;
        border-radius: 0px 20px 20px 0px;
        font-size: 20px;
    }

    .filter{
        display: flex;
        margin-top: 30px;
    }

    .filter h2{
        margin-top: 12px;
        font-size: 25px;
    }

    .btn__filter{
        margin-left: 35px;
        margin-right: 0px;
    }

    .btn__item i{
        width: 50px;
        height: 50px;
        line-height: 50px;

    }

    .btn__filter .btn__name{
        margin-top: 10px;
        margin-left: 10px;
        font-weight: bold;
        font-size: 20px; 
        width: fit-content;
        padding-right: 10px;
    }   
}


@media screen and (min-width:751px) and (max-width:1060px){
    .filter{
       flex-direction: column;
        width: 100%;
    }

    .btn__filter{
        margin-left: 0px;
    }
}
    


.right__container{
    background-color: aqua;
    padding: 40px 25px;
}

.right__container--title{
    display: flex;
    justify-content: space-between;
}

.fa-chart-line{
    font-size: 20px;
}


.right__container--cards .card{
  background-color: azure;
  height: 200px;
  padding: 5px;
  margin-bottom: 20px;
  margin-top: 35px;
  border-radius: 20px;
  display: flex; 
}
.right__container--cards .card__description{
    font-size: 15px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 5px;
}

.right__container--cards .card__description--text{
    margin-top: 10px;
}
.right__container--cards .card__image{
    height: 100%;
    width: 35%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
