html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
}

body{
    font-family: 'Raleway';
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}


header{
width: auto;
}


.logo img{
    width: 110px;
    margin-top: 6px; 
    margin-left: 20px; 
}

.sign-in {
    font-size: 18px;
    font-weight: bold;
    color: #0065FC;
    float: right;
    margin-right: 30px;  
    margin-top: 25px;       
   }
   
.navigation__items {
       line-height: 70px;   
       margin-top: 10px;
       display: flex; 
       justify-content: space-between;   
   }

   
.navigation__items li{
      font-size: 18px;
      border-bottom: #dddddd solid 3px;
      width: 100%;
      text-align: center;
   }

.navigation__items a{
       color: #0065FC;
   }
   
.navigation__items li:hover{
      border-bottom:#0065FC solid 3px;
   }
      

   /*search__section*/

.search{
    margin-top: 30px;
    margin-left: 20px; 
    margin-right: 20px; 
    margin-bottom: 30px;
}

.search h1 {
    margin-bottom: 15px;
}

.search p {
    margin-bottom: 10px;
}

.search__form{
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
    width: 100%;
    height: 60px;
    position: relative;
    border-radius: 23px;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
  }
.search__form #map{
   left: 0;
   top: 0;
   position: absolute;
   font-size: 25px;
   background-color: #f2f2f2;
   width: 60px;
   height: 60px;
   text-align: center;
   line-height: 60px;
   border-top-left-radius: 20px;
   border-bottom-left-radius:20px;
    
}
.search__form--button{
    right: 0;
    top: 0;
    position: absolute;
    color: white;
    background-color: #0065FC;
    border: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
.hide__desktop{
    width: 60px;
    height: 60px;
    line-height: 60px !important;
    text-align: center;


}

.search__form--input{
    width: 100%;
    margin-left: 70px;
    margin-right: 70px;
    background-color: rgb(255, 255, 255);  
    border: none;
}
.show__desktop{
    display: none;
}

.filter h2{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 22px;
}


/*btn__filter*/
.btn{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


.btn__item{
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 30px;
    padding-right: 15px;
    margin-right: 20px;
    border: #dbdbdb solid 2px;
    display: flex;
    flex-wrap: nowrap;
    transition: all 0.3s; 
    position: relative;
    padding-bottom: 10px; 
    transition: all 0ms; 
    transform: scale(1);      
}

.btn__item:hover{   
    color: #0065FC;
    transform: scale(1.01);
    
}

.btn__item i{
 background-color: #deebff;
 font-size: 18px;
 color:#0065FC;
 height: 42px;
 width: 42px;
 text-align: center;
 line-height: 42px;
 border-radius: 30px; 
 position: absolute;
 top: -2px;
 bottom: 0px;
 left: -5px;
}



.btn__item .btn__name{
    margin-top: 8px;
    margin-left: 45px;
    font-weight: bold;
    font-size: 17px; 
    width: fit-content; 
   
}

/*message info*/
.fa-info-icon{
    border: #dddddd solid 1.5px;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 25px  !important;
    border-radius: 20px;
    color: #0065FC;
    margin-right: 10px; 
}
.info{
    font-size: 15px; 
}

.mostpopular{
    background-color: #f2f2f2;
    padding: 40px 25px;
    margin-bottom: 30px;
}

.mostpopular--title{
    display: flex;
    justify-content: space-between;
}

.fa-chart-line{
    font-size: 25px;
}

.mostpopular--cards .card{
  background-color: white;
  height: 145px;
  padding: 5px;
  margin-bottom: 20px;
  margin-top: 35px;
  border-radius: 20px;
  display: flex; 
  box-shadow: 1px 1px 6px 4px rgb(0, 0, 0,0.1);
  transition: all 300ms;   
}

.mostpopular--cards .card:hover{
    box-shadow: 2px 2px 6px 6px rgb(0, 0, 0,0.2);  
}
.mostpopular--cards .card__description{
    font-size: 15px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 8px;
}

.mostpopular--cards .card__description--text{
    margin-top: 10px;
    font-size: 15px;
    width: 90%;  
}

.mostpopular--cards .card__description--text p{
    font-size: 14px;

}

.mostpopular--cards .card__image{
    height: 100%;
    width: 35%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.fa-star{
    color: #d1d1d1;
}

.checked{
    color: #0065FC;
}


/*left__container -> mettre en horizontal à partir de min 751)*/

.citylodging{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.citylodging h2{
    margin-left: 25px;
}
.citylodging .plus{
    margin-left: 25px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s;
}

.citylodging .plus:hover{
    font-size: 19px;
    transition: all 0.3s;
}

.citylodging--cards{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.citylodging--cards .card{
    background-color: white;
    height: 210px;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 35px;
    border-radius: 20px;
    box-shadow: 1px 1px 6px 4px rgb(0, 0, 0,0.1);
    transition: all 300ms;
}

.citylodging--cards .card:hover{
    box-shadow: 2px 2px 6px 6px rgb(0, 0, 0,0.2);
}

.citylodging .card__description{
    margin-left: 10px;
}

.citylodging .card__description--text {
    line-height: 30px;
    margin-bottom: 5px;
    font-size: 15px;
    width: 100%;  
}

.citylodging .card__description--text p{
    font-size: 14px;
}

.citylodging--cards .card__image{
    height: 55%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#activities{
    padding: 20px 25px;
}

.container__cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
}

.container__cards .card__large{
    width: 100%;
}
.container__cards .card__small{
    width: 100%;
}


.container__cards h3{
    padding-top: 15px;
    margin-left: 16px;
    font-size: 16px;
    font-weight: bold;
}

.container__cards .card{
 
    height: 180px;
    background-color: white;
    margin-bottom: 25px;
    border-radius: 20px;
    box-shadow: 1px 1px 6px 4px rgb(0, 0, 0,0.1);
    transition: all 300ms;
}

.container__cards .card:hover{
    box-shadow: 2px 2px 6px 6px rgb(0, 0, 0,0.2);
}

.container__cards .card__image{
    width: 100%;
    height: 68%;
    object-fit: cover;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
}


.footer__container{
    background-color: #f2f2f2;
    padding: 45px 25px;
}

.footer__list{
    margin-bottom: 30px;
    line-height: 26px;
    font-size: 13px;
}

.footer__list h3{
    margin-bottom: 15px;
}




@media screen and (min-width:481px) and (max-width:750px){

    .search__form{
        width: 400px;
    }

    .search h1{
        font-size: 20px;
    }
    .hide__desktop{
        display: none;
    }

    .show__desktop{
        display: unset;
    }
    .search__form--button{
        width: 120px;
        border-radius: 0px 20px 20px 0px;
        font-size: 20px;
    }

    .filter{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .btn__item{
        margin-right: 8px;
    }

  
    .filter h2{
        margin-top: 12px;
        margin-right: 20px;
        font-size: 25px;
    }
    .btn__item .btn__name{
        margin-top: 8px;
        margin-left: 45px;
        font-weight: bold;
        font-size: 17px; 
        width: fit-content;
        padding-right: 10px;
    }

    .mostpopular--cards .card__description--text{
        font-size: 15px;
    }
    
    .mostpopular--cards .card__description--text p{
        font-size: 15px;
    
    }

    .citylodging .card__description--text {
        font-size: 15px;
    }
    
    .citylodging .card__description--text p{
        font-size: 15px;
    }

    .footer__container{
        display: flex;
        justify-content: space-between;
        
    }

    .container__cards h3{
        font-size: 15px;
    }

    .footer__container .footer__list{
        font-size: 13px;
        line-height: 22px;
        padding-right: 2%;

    }

    .footer__container .footer__list h3{
        margin-bottom: 8px;
    }
      
}



@media screen and (min-width:751px) and (max-width:1060px) {
    header{
        display: flex;
        justify-content: space-between;
    }
    .logo{
        margin-top: 35px;
    }

    nav{
        margin-right: 100px;    
        display: flex;
        flex-wrap: nowrap;
    }
    .navigation__items {
        line-height: 90px;
        margin-top: 0;
    }

    .navigation__items li{
        text-align: center;   
        padding-left:50px;    
        padding-right:50px;   
        border: none; 
        border-top: white solid 2px;
    }


    .navigation__items li:hover{
        border-top: #0065FC solid 2px;
        border-bottom: none;   
    }

    .filter{
      flex-direction: column;
        width: 100%;
    }


    .btn__filter{
        margin-left: 0px;
    }

    .sign-in{
        right: 0px;
        top: 0;
        line-height: 90px;
        position: absolute;
        margin-top: 0px;
        border-top: white solid 2px;
     }
 
     .search__form{
         width: 500px;
     }
 
     .search h1{
         font-size: 22px;
     }
 
     .search p:not(.info){
         font-size: 16px;
     }
 
     .hide__desktop{
         display: none;
     }
 
     .show__desktop{
         display: unset;
     }
 
     .search__form--button{
         width: 120px;
         border-radius: 0px 20px 20px 0px;
         font-size: 20px;
     }

     #housing{
         display: flex;
         flex-direction: column;
         
     }

    #housing .citylodging{
        padding: 0;
        margin: 0;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 20px;
        margin-bottom: 20px;

    }
    #housing .citylodging .card{
        margin-right: 3%;
    }

    .citylodging--cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2px 20px;
        margin: 0;
        margin-bottom: 10px;
    } 
    
    .citylodging--link{
        width: 31%;
    } 
    .citylodging .card__description--text {
        font-size: 16px;
    }
    
    .citylodging .card__description--text p{
        font-size: 15px;
    }

    .mostpopular--cards .card__description--text{
        font-size: 16px;    
    }
    
    .mostpopular--cards .card__description--text p{
        font-size: 15px;
    
    }
    #housing .mostpopular{     
        width: 100%;
    }
    #housing .mostpopular .card{
      width: 95%;
   } 
   
   
    
    #activities .container__cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;  
    }

    .container__cards h3{
        font-size: 16px;
    }


    #activities .container__cards .card__large{
        width: 48%;
        height: 400px;
        margin-bottom: 20px;
    }
    #activities .container__cards .card__large .card{
        height: 100%;
       
    }
    #activities .container__cards .card__large .card__image{
        height: 85.5%;
    }
  
    #activities .container__cards .card__small{
        width: 48%;
        height: 400px;
    }
  

    #activities .container__cards .card__small #top1{
        height: 55%;
        margin-bottom: 40px;
    }
    #activities .container__cards .card__small #top1 .card__image{
        height: 75%;
    }
    #activities .container__cards .card__small #bottom1{
        height: 30%;
        padding-bottom: 20px;
    }
    #activities .container__cards .card__small #top2{
        height: 30%;
        padding-bottom: 20px;
    }
    #activities .container__cards .card__small #bottom2{
        height: 55%;
        margin-top: 40px;
    }
    #activities .container__cards .card__small #bottom2 .card__image{
        height: 75%;
      
    }


    .footer__container{
        display: flex;
        justify-content: space-between;
    }
    .footer__container .footer__list{
        font-size: 13px;
        line-height: 30px;
        padding-right: 2%;

    }

    .footer__container .footer__list h3{
        margin-bottom: 10px;
    }
}

@media screen and (min-width:1061px){
    header{
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
    }

    .logo{
        margin-top: 35px;
    }

    nav{
        margin-right: 100px;    
        display: flex;
        flex-wrap: nowrap;

    }
    .navigation__items {
        line-height: 90px;
        margin-top: 0px;
      
    }

    .navigation__items li{
        text-align: center;   
        padding-left:50px;    
        padding-right:50px;   
        border: none;  
        border-top: white solid 2px;
    }

 
    .navigation__items li:hover{
        border-top: #0065FC solid 2px;
        border-bottom: none;   
    }

    .filter{
        display: flex;
         width: 100%;
         margin: 20px 0px;
    }
    .filter h2{
          margin-top: 10px;
          margin-right: 20px;
    }

     .btn__filter{
         margin-left: 0px;
     }
 
     .sign-in{
         right: 0px;
         top: 0;
         position: absolute;
         margin-top: 0px;
         line-height: 90px;
         border-top: white solid 2px;
      }

      .search{
        margin: 20px 40px;
      }
  
      .search__form{
          width: 400px;
          margin-bottom: 40px;
      }
  
      .search h1{
          font-size: 25px;
      }
  
      .search p:not(.info){
          font-size: 18px;
      }
  
      .hide__desktop{
          display: none;
      }
  
      .show__desktop{
          display: unset;
      }
  
      .search__form--button{
          width: 120px;
          border-radius: 0px 20px 20px 0px;
          font-size: 20px;
      }


      #housing{
          display: flex;
          flex-direction: row-reverse;
          margin: 20px 40px;
      }

      #housing .citylodging{
          width: 68%;
          height: auto;
          margin-right: 3%;
          border-radius: 20px;
          background-color: #f2f2f2;
          padding-left: 15px;
          padding-right: 15px;
      }

      .citylodging h2{
          margin-top: 15px;
      }

      .citylodging--link{
          width: 31%;
      }
      .citylodging--cards{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
      }  
   
     .citylodging .card__description--text p{
        font-size: 15px;
    }

      #housing .citylodging .card__description--text{
        width: 100%;
        line-height: 23px;
        margin-top: 10px;
        font-size: 15px;
      }

      #housing .mostpopular{
          width: 28%;
          border-radius: 20px;
      }
      #housing .mostpopular .card__description--text{
        font-size: 15px;
      }

    
      #activities{
        margin: 0px 20px;
      }

      #activities .container__cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container__cards h3{
        font-size: 16px;
    }


    #activities .container__cards .card__large{
        width: 25%;
        height: 400px;
        margin-bottom: 20px;
    }
    #activities .container__cards .card__large .card{
        height: 100%;
       
    }
    #activities .container__cards .card__large .card__image{
        height: 85.5%;
    }
  
    #activities .container__cards .card__small{
        width: 20%;
        height: 400px;
    }
  

    #activities .container__cards .card__small #top1{
        height: 55%;
        margin-bottom: 40px;
    }
    #activities .container__cards .card__small #top1 .card__image{
        height: 75%;
    }
    #activities .container__cards .card__small #bottom1{
        height: 30%;
        padding-bottom: 20px;
    }
    #activities .container__cards .card__small #top2{
        height: 30%;
        padding-bottom: 20px;
    }
    #activities .container__cards .card__small #bottom2{
        height: 55%;
        margin-top: 40px;
    }
    #activities .container__cards .card__small #bottom2 .card__image{
        height: 75%;
      
    }

    .footer__container{
        display: flex;
    }

    .footer__list{
      font-size: 13px;
       width: 100%;
    }

}


