body{
    font-family: "Raleway";
   margin: 0;
}
/*header*/

header{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.logo{
    width: 120px;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: black;
}

.fa-star{
    color: #d2d2d2;
}
.checked{
    color: #0065FC;
}

nav{
    float: right;
    
}
.navigation__items{
    list-style: none;
    display: flex;  
    flex-wrap: wrap; 
}

.navigation__items li{
   width: 200px;
   text-align: center;
   background-color: rgb(255, 255, 255);
}

.navigation__items .sign-in a{
    font-weight: bold;
    color: #0065FC;
}

.navigation__items li a{
    line-height: 80px; 
    font-size: 16px;
}
.navigation__items li:not(.sign-in):hover{
   border-top: #0065FC solid 3px;
}
.navigation__items li:not(.sign-in):hover a{
    color: #0065FC;
}

/*search__section*/

.search{
    margin-left: 20px;
    margin-right: 20px;
}
.search__form{
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
    width: min-content;
    height: fit-content;
    border-radius: 12px;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
  }
.search__form #map{
    background-color: #f2f2f2;
    width: 60px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    line-height: 50px;
}
.search__form--button{
    background-color: #0065FC;
    color: white;
    height: 60px;
    width: 150px;
    border: none;
    font-size: 18px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px; 
}
.search__form--input{
    height: 60px;
    width: 280px;
    border: none;
}

.filter{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

/*btn-eco*/

.btn__bill{
    width: 300px;
    height: fit-content;
    border:#dfdfdf  solid 2.5px;
    position: relative;
    display: inline-block;
    border-radius: 120px;
    background-color: white;
    text-align: center;
    padding: 15px 0px;
    margin: 20px 20px;
    transition: all 0.2s;
}
.btn__bill:hover{
    background-color: #f2f2f2c5;
}

.btn__bill .btn__icon{
    background-color: #DEEBFF;
    color: #0065FC;
    width: 55px;
    height: 55px;
    position: absolute;
    top: -1px;
    left: -3px;
    line-height: 55px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-radius: 80px;
}

.btn__bill .name{
    font-weight: bold;
    font-size: 20px; 
    margin-left: 20px;
}

/*btn-fam*/

.btn__fam{
    width: 200px;
    height: fit-content;
    border:#dfdfdf solid 2.5px;
    position: relative;
    display: inline-block;
    border-radius: 40px;
    background-color: white;
    text-align: center;
    padding: 15px 0px;
    margin: 20px 20px;
    transition: all 0.2s;
}

.btn__fam:hover{
    background-color: #f2f2f2c5;
}

.btn__fam .btn__icon{
    background-color: #DEEBFF;
    color: #0065FC;
    float: left;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-radius: 120px;
    line-height: 55px;
  
}

.btn__fam .name{
    font-weight: bold;
    margin-left: 20px;
    font-size: 20px;
}

/*btn-heart*/
.btn__heart{
    width: 260px;
    border:#dfdfdf solid 2.5px;
    position: relative;
    display: inline-block;
    border-radius: 40px;
    background-color: white;
    text-align: center;
    padding: 15px 0px;
    margin: 20px 20px;
    transition: all 0.2s;
} 

.btn__heart:hover{
    background-color: #f2f2f2c5;
}

.btn__heart .btn__icon{
    background-color: #DEEBFF;
    color: #0065FC;
    float: left;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-radius: 120px;
    border-radius: 80px;
    line-height: 55px;
}
.btn__heart .name{
    font-weight: bold;
    margin-left: 20px;
    font-size: 20px;
}

/*btn-dog*/
.btn__dog{
    width: 300px;
    border:#dfdfdf solid 2.5px;
    position: relative;
    display: inline-block;
    border-radius: 40px;
    background-color: white;
    text-align: center;
    padding: 15px 0px;
    margin: 20px 20px;
    transition: all 0.2s;
}

.btn__dog:hover{
    background-color: #f2f2f2c5;
}

.btn__dog .btn__icon{
    background-color: #DEEBFF;
    color: #0065FC;
    float: left;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-bottom: 1px;
    padding-top: 0px;
    border-radius: 120px;
    border-radius: 80px;
    line-height: 55px;
}
.btn__dog .name{
    font-weight: bold;
    margin-left: 40px;
    font-size: 20px;
}

/*message info*/
.fa-info{
    border: #dddddd solid 1.5px;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 24px;
    border-radius: 20px;
    color: #0065FC;
    margin-right: 1%;  
    margin-bottom: 20px;
}


/*hebergement*/
#hebergement{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
}
.left__container{
    width: 66%;
    background-color: #f2f2f2;
    margin-right:5%;
    border-radius: 20px;
}
.left__container h2{
    width: 41.6%;
    margin-left: 2.5%;
}
.plus{
    margin-left: 3%;
    font-size: 20px;
}
.left__container--cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.left__container--link{
   width: 29%;
   padding: 2%;
}

.left__container--cards .card{
    width: 100%; 
    height: 300px;
    padding: 1.5%;
    margin-right:5% ;
    padding-bottom: 10%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 0px 8px 2px rgba(0,0,0,0.2);
}
.left__container--cards .card:hover{
    box-shadow: 8px 8px 8px 2px rgba(0,0,0,0.3);
    transition: 0.3s; 
    width: 101%; 
}
.left__container--cards .card__description{
    width: 80%;
    font-size: 20px;
    margin-left: 3.5%;    
}
.left__container--cards .card__image{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.right__container{
    width: 29%;
    background-color: #f2f2f2;
    border-radius: 20px;
}
.right__container h2{
    margin-left: 5%;
}
.right__container--cards .card{
    background-color: white;
    width: 80%;
    height: 200px;
    margin: 5%;
    margin-bottom: 10%;
    padding: 1%;
    display: flex;
    border-radius: 30px;
    box-shadow: 5px 0px 8px 2px rgba(0,0,0,0.2);
    transition: 0.3s; 
}
.right__container--cards .card:hover{
    box-shadow: 8px 8px 8px 2px rgba(0,0,0,0.3);
    transition: 0.3s; 
    width: 81%; 
}

.right__container--cards .card__description{
    width: 55%;
    font-size: 20px;
    margin-left: 3.5%;   
}
.right__container--cards .card__description i{
    margin-top: 10%;
}
.right__container--cards .card__image{
    width: 35%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/*activités*/

#activités{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.container__cards{
    display: flex;
    height: 500px;
}
.container__cards h3{
    line-height: 2%;
    margin-left: 4%;
}

.card__1{
    width: 25%;
    margin-right: 3%;
}
.card__1 .card{
    height: 100%;
    box-shadow: 5px 0px 8px 2px rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 30px;
}
.card__1 .card:hover{
    box-shadow: 8px 8px 8px 2px rgba(0,0,0,0.3);
    transition: 0.3s; 
    width: 101%; 
}
.card__1 .card__image{
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.card__2{
    width: 25%;
    margin-right: 3%;

}
.card__2  #top1{
    height: 55%;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 5px 0px 8px 2px rgba(0,0,0,0.2);
}
.card__2 #top1:hover{
    box-shadow: 8px 8px 8px 2px rgba(0,0,0,0.3);
    transition: 0.3s; 
    width: 101%; 
}
.card__2 #top1 .card__image{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.card__2  #bottom1{
    height: 36%;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 5px 0px 8px 2px rgba(0,0,0,0.2);
}
.card__2 #bottom1:hover{
    box-shadow: 8px 8px 8px 2px rgba(0,0,0,0.3);
    transition: 0.3s; 
    width: 101%; 
}
.card__2 #bottom1 .card__image{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.card__3{
    width: 25%;
    margin-right: 3%;
}
.card__3 .card{
    height: 100%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 0px 8px 2px rgba(0,0,0,0.2);
}
.card__3 .card:hover{
    box-shadow: 8px 8px 8px 2px rgba(0,0,0,0.3);
    transition: 0.3s; 
    width: 101%; 
}
.card__3 .card__image{
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.card__4{
    width: 25%;
}
.card__4 #top2{
    height: 36%;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 5px 0px 8px 2px rgba(0,0,0,0.2);
}
.card__4 #top2:hover{
    box-shadow: 8px 8px 8px 2px rgba(0,0,0,0.3);
    transition: 0.3s; 
    width: 101%; 
}
.card__4 #top2 .card__image{
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}
.card__4 #bottom2{
    height: 55%;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 5px 0px 8px 2px rgba(0,0,0,0.2);
}
.card__4 #bottom2:hover{
    box-shadow: 8px 8px 8px 2px rgba(0,0,0,0.3);
    transition: 0.3s; 
    width: 101%; 
}
.card__4 #bottom2 .card__image{
    height: 80%;
    width: 100%;
    object-fit: cover;  
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

/*footer__container*/

footer{
    background-color: #f2f2f2;
    width: 100%;
    margin-top: 50px;
}

.footer__container{
    display: flex;
}

.footer__list{
    width: 33%;
    margin-top: 30px;
}
.footer__list h3{
    margin-left: 40px;
    line-height: 0px;
    font-size: 15px;
    font-weight: bolder;
}
.footer__list ul{
   list-style: none;
   line-height: 35px;
   font-size: 15px;
}

@media screen and (max-width:1790px){
    .left__container--cards{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .left__container--link{
       width: 38%;
       padding: 5%;
    }
    

}



